/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
    padding-bottom: 2px;
}
/* Home section */
#home{
    padding: 3px 22px;
}
#home h1{
    margin: 2px;
    font-size: 3rem;
}

#home::before{
    height: 100%; 
}

#home p{
    font-size: 1.5rem;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    padding: 4px 8px;
    margin: 10px;
    font-size: 1.5rem;
}